/** les couleurs du font et import de polices **/
body{
    background-color: black;
   /** gestion de la police **/
    color: #fff;
    font-family: monospace;
    /** tous es au centre **/
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/** On paramétre le ref terrain **/
#terrain{
    /** il à une bordure 1 pixel blanc **/
    border:1px solid white;
    /** On défénit les dimmension du terrain **/
    width: 800px;
    height: 400px;

}
/** On paramétre le ref ball **/
#ball{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 4px;
}
